body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }

  h1 {
    color: #333;
  }

  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }

  section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  img {
    width: 200px;
    margin-right: 20px;
  }

  /* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
